---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
const { pubDate, title, author, description, image, tags } = frontmatter
---
<BaseLayout pageTitle={title}>
    <p>Published on {pubDate.slice(0, 10)}</p>
    <p><em>{description}</em></p>
    <p>Written by {author}</p>
    {
        (image && image.url) &&
        <img src={image.url} width="300" alt={image.alt} />
    }
    <div class="tags">
        {tags.map((tag) => (
          <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
      </div>
    <slot />
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>